
/****** Style Star Rating Widget *****/

.rating {
  border: none;
  flex-direction: row-reverse;
}

.rating > input { display: none !important; }
.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  display: inline-block;
}

.rating > label {
  color: #ddd;
  margin: 0 !important;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }
