
/*** CONTAINER COMPONENT ***/

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1060px;
}


/*** HEADER OF THE PAGE COMPONENT ***/

.page-header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 30px;


  @media screen and (max-width: 450px)  {
    flex-direction: column;
    align-items: flex-start;
  }

  &__title {
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 130%;
    color: #000000;
    margin-top: 4.7em;
    position: relative;

    @media screen and (max-width: 450px)  {
      margin-bottom: 10px;
    }
  }

  /*** CUSTOM STYLES ***/

  .btn-arrow {
    span {
      margin-left: 35px;
    }
  }
  .fa-plus {
    background-color: #58B58B;
    color: #fff;
    border-radius: 100%;
    padding: 5px;
    padding-right: 6px;
    padding-left: 6px;
    margin-right: 10px;
  }




}

/*** PAGE NAVIGATION COMPONENT ***/

.page-navigation {
  margin-bottom: 10px;
  margin-top: 47px;

  &__list-container {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__list-item {
    margin-bottom: 15px;
    padding-bottom: 4px;
    display: inline-block;
    margin-right: 45px;

    a {
      text-decoration: none;
      font-family: inherit;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 130%;
      color: #828282;
    }
  }

  &__list-item--active {
    border-bottom: 3px solid #cc8322;
  }
}

.tab-pane {
  &--show {
    display: block  !important;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: both;
  }

  &--hide {
    display: none;
    animation-name: fadeIn;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


/*** NO LANDINGS BLOCK COMPONENT ***/

.no-landings-block {
  background-color: #fff;
  padding: 8% 10%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;

  &__container {
    display: flex;

    @media screen and (max-width: 900px)  {
      flex-flow: column;
      align-items: center;
    }
  }

  &__img {
    margin-right: 10%;
    @media screen and (max-width: 900px)  {
      margin-right: 0;
    }
  }

  &__text {
    width: 55%;

    @media screen and (max-width: 900px)  {
      width: 100%;
      text-align: center;
    }

    h1 {
      font-family: inherit;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 28px;
      color: #4F4F4F;
      margin-bottom: 17px;
    }
    p {
      font-family: inherit;
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 153.59%;
      color: #828282;
      margin-bottom: 23px;
    }
  }

  &__button-group {
    display: flex;
    @media screen and (max-width: 900px)  {
      justify-content: center;
    }
    @media screen and (max-width: 600px)  {
      flex-direction: column;
      align-items: center;
    }
    a {
      margin-right: 20px;
      @media screen and (max-width: 600px)  {
        margin-right: 0;
        margin-bottom: 10px;
      }
    }
  }
}

/*** LIST OF LANDINGS COMPONENT ***/

.block-list {

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;


  @media screen and (max-width: 975px)  {
    flex-flow: column;
  }


  &__main {
    flex: 0 0 50%;
  }

  &__item {
    max-width: 440px;
    width: 100%;
    padding: 0;
    margin-bottom: 70px;
    height: 400px;
    align-self: center;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    @media screen and (max-width: 470px)  {
      height: 365px;
    }
    @media screen and (max-width: 420px)  {
      height: 340px;
    }
    @media screen and (max-width: 350px)  {
      height: 320px;
    }
  }

  &__img-container {
    position: relative;
    img {
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }

    &:hover {
      img {
        filter: brightness(50%);
      }
      a {
        opacity: 1;
      }
    }

    img {
      transition: all .4s;
      width: 100%;
    }
  }

  &__btn-group {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;

    a {
      opacity: 0;
      width: 130px;
      &:first-of-type {
        margin-right: 25px;
      }
    }
  }


  &__desc {
    padding: 15px 0 35px 15px;
    @media screen and (max-width: 350px)  {
      padding: 15px 0 10px 15px;
    }

    h2 {
      font-family: inherit;
      font-style: normal;
      font-weight: 600;
      font-size: 13px;
      line-height: 120%;
      color: #BDBDBD;
    }

    h1 {
      font-family: inherit;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 22px;
      color: #4F4F4F;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 350px)  {
      flex-flow: column;
    }

  }

  &__status {
    display: flex;
    align-items: center;
    margin-left: 15px;
    span {
      display: block;
      margin-right: 10px;
      width: 10px;
      height: 10px;
      border-radius: 100%;

    }
    p {
      font-family: inherit;
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 153.59%;

    }
  }

  &__status--green {
    span {
      background-color: #58B58B;
    }
    p {
      color: #58B58B;
    }
  }

  &__status--yellow {
    span {
      background-color: #F0A744;
    }
    p {
      color: #F0A744;
    }
  }

  &__cta {
    display:flex;
    align-items: center;

    @media screen and (max-width: 350px)  {
      margin-left: 15px;
    }

    .btn-blue {
      margin-right: 15px;
    }

    .dropdown {
      background: #FFFFFF;
      border: 1px solid #BDBDBD;
      box-sizing: border-box;
      box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.07);
      border-radius: 3px;
      margin-right: 15px;

      #dropdownMenuButton {
        transform: rotate(90deg);
        span {
          display: block;
          padding: 5px;
          color: #BDBDBD;
        }
      }
    }

  }
}


/*** LAND MODAL COMPONENT ***/

.land-modal {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 99;
  opacity: 0;
  transition: all .3s;
}

.land-modal--visible {
  visibility: visible;
  opacity: 1;
}

.land-modal-container {
  background-color: white;
  width: 75%;
  max-height: 75vh;
  position: absolute;
  top: 50%;
  left: 50%;
  //transform: translate(-50%, -50%) scale(0.5);
  transform: translate(-50%, -50%);
  transition: all .3s;
  //overflow-y: scroll;
  overflow-x: hidden;
  max-width: 1000px;
  border-radius: 10px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 30px;
    border-bottom: 1px solid #D6D6D6;
    background-color: #F2F2F2;
    box-sizing: border-box;
    border-radius: 10px 10px 0 0;

    h1 {
      font-family: inherit;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      color: #828282;
    }
    span {
      &:hover {
        cursor: pointer;
      }
    }
  }

  &__content {
    padding: 50px 95px;
  }

  &__form-group {
    display: flex;
    flex-flow: column;
    margin-bottom: 15px;

    label {
      font-family: inherit;
      font-style: normal;
      font-weight: 600;
      font-size: 13px;
      line-height: 120%;
      color: #828282;
      margin-bottom: 6px;
    }

    input {
      border: 1px solid #D6D6D6;
      border-radius: 5px;
      padding: 14px 10px;
    }

  }
}


