footer {
    padding: 16px 0;
    background: #000000;
    @media (min-width: 1400px) {
        .container {
            max-width: 1264px;
        }
    }

    nav {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        width: 100%;

        span {
            margin-right: auto;
        }

        a,
        span {
            font-weight: normal;
            font-size: 12px;
            line-height: 170%;
            color: #BDBDBD;
        }

        a {
            margin-left: 16px;

            &:hover {
                text-decoration: underline;
                color: #fff;
            }
        }
    }
}
@media (max-width: 767.98px) {
    footer {
        nav {
            flex-direction: column-reverse;
            align-items: center;

            span {
                margin: 15px 0 0;
            }

            a {
                margin-left: 0;
            }
        }
    }
}
