.sec_my_projects {
   // padding: 76px 0 110px;
    .container {
        padding: 76px 0 110px;
    }
    @media (min-width: 1200px) {
        .container {
            max-width: 973px;
        }
    }

    .sec_title {
        margin-bottom: 54px;
    }

    .dubl_line {
        left: -50px;
        top: 35px;
        transform: rotate(180deg);
    }

    .dubl_line2 {
        top: -55px;
        right: -260px;
    }

    .cup {
        left: -160px;
        top: 450px;
    }

    .circle_orange {
        right: -100px;
        bottom: 65px;
    }

    .brain {
        right: 0;
        bottom: 810px;
    }

    .card {
        padding: 20px 25px;
        margin-bottom: 40px;
        position: relative;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
        border-radius: 8px;

        .margin-b-80 {
            margin-bottom: 80px;
            @media (min-width: 767px) {
                margin-bottom: 50px;
            }
        }

        .btn-blue {
            width: 152px;
        }

        .media-image-abs_wrapp {
            width: 220px;
            flex-basis: 220px;
            text-align: center;

            img {
                max-width: 220px;
            }
        }

        .media-image {
            width: 250px;
            min-width: 250px;
        }

        .media.vertical {
            flex-direction: column;
            position: relative;
            @media (min-width: 767px) {
                .card_title {
                    min-height: 45px;
                }
            }

            .media-body {
                margin: 20px 0 0;
                max-width: 100%;
            }

            .list li {
                margin: 5px 0;
            }

            .abs_date {
                position: absolute;
                right: -5px;
                top: -10px;
            }
            @media (min-width: 768px) {
                .media-image {
                    height: 265px;
                }
            }
        }

        .stone {
            right: -40px;
            top: -50px;
            z-index: -1;
            transform: rotate(150deg);
        }

        .screen {
            right: -70px;
            top: 140px;
            z-index: -1;
        }

        .circle {
            left: -30px;
            top: 215px;
            z-index: -1;
        }

        .clock {
            left: -190px;
            top: 100px;
            z-index: -1;
        }

        .date_wrap {
            float: right;
            margin: 0 0 10px 20px;
        }

        .media-body {
            margin-left: 25px;
        }

        .list {
            list-style: none;
            padding: 0;

            li {
                font-size: 14px;
                line-height: 25px;
                color: #828282;
                position: relative;
                padding-left: 15px;
                font-weight: 500;
                // &:not(:last-of-type) {
                //     margin-bottom: 3px;
                // }
                &::before {
                    position: absolute;
                    content: '';
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    left: 0;
                    top: 9px;
                    background-color: #828282;
                }
            }
        }

        .card_subtitle {
            font-size: 13px;
            font-weight: 600;
            line-height: 16px;
            color: #bdbdbd;
            margin: 0 0 5px;
        }

        .card_title {
            font-size: 18px;
            line-height: 22px;
            font-weight: bold;
            color: #4f4f4f;
            text-transform: uppercase;
            margin-bottom: 20px;
        }

        &.with-date .b-card-body {
            margin: 30px 0 20px;
        }

        .b-card-body {
            margin: 15px 0;
            min-height: 100px;
        }

        .b-card-footer {
            display: flex;
            align-items: center;
            font-size: 13px;

            .counter {
                color: #828282;
                margin-right: auto;
                font-weight: 500;
            }

            .btn.margin-minus {
                margin-top: -30px;
            }

            .views {
                display: flex;
                align-items: center;
                color: #D85243;
                margin-right: 60px;
                margin-left: 10px;
                font-weight: 500;
            }
        }

        .dropdown-divider {
            margin: 15px 0;
            width: 100%;
            border-color: #d6d6d6;
        }
    }

    .card-with-table {
        .stone2 {
            bottom: -50px;
            left: -65px;
            z-index: -1;
            transform: rotate(180deg);
        }

        .dubl_line_vertical {
            left: -200px;
            top: 50%;
            transform: rotate(-90deg);
        }

        .circle2 {
            right: -170px;
            bottom: 130px;
        }

        .text {
            @media (min-width: 768px) {
                margin-left: 25px;
            }

            .text-title {
                font-size: 24px;
                line-height: 37px;
                color: #4f4f4f;
                margin-bottom: 10px;
            }

            p {
                font-size: 19px;
                line-height: 29px;
                color: #828282;
            }
        }
    }
}

.date_wrap {
    display: flex;

    .item {
        &:first-child {
            margin-right: 12px;
        }

        & > span {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            color: #a2a2a2;
        }

        .date {
            margin-top: 3px;
            background: #fafafa;
            border: 1px solid #d6d6d6;
            box-sizing: border-box;
            border-radius: 5px;
            padding: 3px 9px;
            font-size: 13px;
            text-align: center;

            div {
                margin-top: 3px;
                font-weight: 300;
                font-size: 25px;
                line-height: 30px;
            }

            span {
                font-weight: 500;
                font-size: 13px;
                line-height: 16px;
            }
        }
    }
}
@media (min-width: 767px) {
    .sec_my_projects .card .media .media-image-abs {
        position: absolute;
        width: 220px;
        bottom: 0;
        left: 25px;
    }

    .pl-22 {
        padding-left: 22px;
    }

    .pr-22 {
        padding-right: 22px;
    }
}
@media (max-width: 767.98px) {
    .sec_my_projects {
        padding: 45px 0 0;
    }

    .sec_my_projects .card {
        padding: 20px;
    }

    .sec_my_projects .card .media {
        flex-direction: column;
    }

    .sec_my_projects .card .media-body {
        margin: 30px 0 0;
    }

    .sec_my_projects .card .media .media-image-abs_wrapp {
        width: calc(100% + 40px);
        border-bottom: 1px solid #e9ecef;
    }

    .sec_my_projects .card-with-table .text .text-title {
        font-size: 22px;
        line-height: 27px;
    }

    .sec_my_projects .card-with-table .text p {
        font-size: 16px;
        line-height: 25px;
    }

    .sec_my_projects .card .btn-blue {
        width: 100%;
        margin-top: 15px;
        padding: 10px;
    }

    .sec_my_projects .card .b-card-footer {
        flex-wrap: wrap;
    }

    .sec_my_projects .card .b-card-footer .views {
        margin-right: 0;
    }

    .sec_my_projects .card .date_wrap {
        margin: 0 0 10px 10px;
    }

    .date_wrap .item:first-child {
        margin-right: 7px;
    }

    .card-with-table {
        .table_wrapp {
            box-shadow: none;
            margin: 0 -18px -18px;

            .btn-blue {
                width: 152px;
            }
        }

        .media {
            text-align: center;
        }
    }
}

.border-image {
    display: block;
    background-color: rgba(229,229,229,0.5);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    border: 4px solid #58B58B;
    border-radius: 50%;
    box-sizing: border-box;
    width: 150px;
    min-width: 150px;
    height: 150px;
    margin-bottom: 28px;
}
