.sec_6 {
    padding: 45px 0 36px;

    .card_profile {
        margin-top: 36px;
    }

    p {
        max-width: 214px;
        min-height: 80px;
    }

    .btn {
        width: 377px;
        margin-top: 55px;
        font-weight: 600;
        font-size: 17px;
        line-height: 130%;
        padding: 16px;
    }
    // abs img
    .circle {
        left: 10%;
        top: 87%;
    }

    .dubl_stone {
        left: -6%;
        top: 2%;
    }

    .dubl_stone_2 {
        left: 90%;
        top: 63%;
    }
}
@media (max-width: 767.98px) {
    .sec_6 {
        padding: 15px 0 30px;

        .card_profile {
            margin-top: 15px;
        }

        p {
            max-width: 100%;
            min-height: 0;
        }

        .second_title {
            margin: 15px 0 20px;
        }

        .btn {
            padding: 14px 25px;
            font-size: 16px;
            width: 100%;
        }
    }
}
