.sec_5 {
    padding: 69px 0 36px;

    .sec_title {
        margin-bottom: 60px;
    }

    .media {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        align-items: center;
        margin: 27px 0;

        &:first-of-type {
            margin-top: 0;
        }

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    .icon {
        display: block;
        width: 102px;
        min-width: 102px;
        height: 102px;
        margin-right: 25px;
        position: relative;
        box-sizing: border-box;

        img {
            position: absolute;
            width: 100%;
            height: auto;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        &_1 img {
            width: 113%;
            left: 45%;
            top: 47%;
        }

        &_2 img {
            top: 52%;
        }

        &_3 img {
            width: 108%;
        }
    }

    p {
        font-weight: 600;
        font-size: 16px;
        line-height: 150%;
        color: #828282;
    }

    .stone_red {
        top: 27%;
        left: 37%;
    }

    .star_orange {
        top: 20%;
        left: 75%;
    }

    .circle_orange {
        left: -10%;
        top: 68%;
    }

    .star_green {
        left: -5%;
        top: -2%;
    }

    .dubl_line {
        left: 91%;
        top: 105%;
    }

    .star_blue {
        left: 56%;
        top: 101%;
    }
}
@media (max-width: 767.98px) {
    .sec_5 {
        padding: 30px 0;
        overflow: hidden;

        .sec_title {
            margin-bottom: 30px;
        }

        p {
            font-size: 14px;
            margin: 0;
        }

        .embed-responsive {
            margin-bottom: 30px;
        }

        .media {
            margin-left: 10px;
        }

        .icon {
            width: 80px;
            min-width: 80px;
            height: 80px;
        }
        // abs pic
        .star_blue {
            left: 82%;
            top: 90%;
            width: 106px;
        }
    }
}
