.sec_bio {
   // padding: 65px 0 67px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.07);
    background: #FFFFFF;
    min-width: 1270px;
    overflow: hidden;
    .card_transparent {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 343px;
        width: 100%;
        @media (max-width: 991.98px) {
            margin-bottom: 35px;
        }
    }

    .btn-blue {
        width: 100%;
        margin-top: 36px;
        font-size: 20px;
        line-height: 24px;
        padding: 13px 18px;
    }

    .icon_avatar {
        background-size: cover;
        width: 150px;
        height: 150px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
        border-radius: 50%;
        border: solid 4px #58B58B;
    }

    h5 {
        font-weight: 500;
        font-size: 16px;
        line-height: 153.59%;
        margin-top: 17px;
        margin-bottom: 21px;
    }

    .card {
        margin: 65px 0 67px;
        padding: 29px 50px 38px 76px;
        position: relative;

        img {
            position: absolute;
            top: 29px;
            left: 32px;
        }
    }

    p {
        font-weight: 500;
        font-size: 13px;
        line-height: 153.59%;
        color: #828282;
        margin: 0;

        &:not(:last-of-type) {
            margin-bottom: 18px;
        }
    }
    // abs pic
    .circle {
        left: -10%;
        top: 11%;
    }

    .stone {
        left: 89%;
        top: -11%;
    }

    .circle_orange {
        right: -7%;
        top: 60%;
    }
}
@media (max-width: 767.98px) {
    .sec_bio {
        padding: 30px 0;

        .card {
            padding: 15px;

            img {
                display: none;
            }
        }

        p {
            font-size: 14px;
        }

        .btn-blue {
            font-size: 16px;
        }
    }
}
