.sec_10 {
    padding: 104px 0 132px;

    .sec_title {
        margin-bottom: 65px;
    }

    .abs_pic {
        left: 50%;
        top: 52%;
        transform: translate(-50%, -50%);
        width: 113%;
    }
}

.card_tarif {
    background: #FFFFFF;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
    padding: 20px;

    .upper_title {
        font-weight: 600;
        font-size: 16px;
        line-height: 170%;
        color: #828282;
    }

    .title {
        font-weight: 600;
        font-size: 29px;
        margin-top: 2px;
    }

    .list_title {
        text-align: left;
        font-size: 19px;
        color: #828282;
        margin-bottom: 15px;
    }

    .icon {
        position: relative;
        height: 132px;
        display: block;
        margin: 18px 0 48px;

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    ul {
        padding: 0;
        list-style: none;
        text-align: left;
        min-height: 262px;
    }

    li {
        padding-left: 33px;
        position: relative;
        margin-bottom: 14px;
        font-weight: 500;
        font-size: 14px;
        line-height: 120%;
        color: #828282;

        b {
            font-weight: 600;
        }

        &::before {
            content: '';
            display: block;
            width: 18px;
            height: 18px;
            background-image: url("../img/sec_10/li_label.svg");
            background-repeat: no-repeat;
            background-position: center;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .new_price_wrapp {
        background: #557FAF;
        padding: 17px 5px 20px;
        margin-left: -20px;
        margin-right: -20px;
    }

    .new_price_title {
        margin-bottom: 17px;
    }

    .new_price,
    .new_price_title {
        font-weight: 600;
        font-size: 14px;
        line-height: 130%;
        color: #FCFCFC;
        display: block;

        span {
            font-weight: 500;
            font-size: 32px;
            color: #fff;
        }
    }

    .old_price_wrapp {
        padding: 25px 0 29px;
    }

    .old_price_title {
        display: block;
        font-weight: 500;
        font-size: 14px;
        line-height: 130%;
        color: #828282;
        margin-bottom: 17px;
    }

    .old_price {
        font-weight: 500;
        font-size: 18px;
        line-height: 130%;
        color: #58B58B;

        span {
            font-weight: normal;
            font-size: 32px;
        }
    }

    .btn-success {
        width: 100%;
        font-weight: 600;
        font-size: 16px;
        padding: 14px;
    }
}
@media (max-width: 767.98px) {
    .sec_10 {
        padding: 30px 0;

        .sec_title {
            margin-bottom: 30px;
        }

        .abs_pic {
            left: -454%;
            top: 74%;
            width: 1223%;
        }
    }
}
