.sec_3 {
    padding: 102px 0 138px;

    h2 {
        margin-bottom: 18px;
    }

    p {
        font-weight: 500;
        font-size: 17px;
        line-height: 170%;
        color: #828282;
        margin-bottom: 38px;
    }

    .btn {
        font-weight: 600;
        font-size: 20px;
        padding: 15px 48px;
    }

    .embed-responsive {
        margin-top: 5px;
    }
    @media (min-width: 768px) {
        .col-md-7 {
            flex: 0 0 55%;
            max-width: 55%;
        }

        .col-md-5 {
            flex: 0 0 40%;
            max-width: 40%;
        }
    }
    // abs pic
    .circle {
        right: -2%;
        bottom: -15%;
    }

    .stone {
        left: 56%;
        top: -13%;
    }

    .circle_orange {
        right: -5%;
        top: -17%;
    }

    .dubl_line {
        left: -16%;
        top: 40%;
    }
}
@media (max-width: 767.98px) {
    .sec_3 {
        padding: 15px 0 30px;
        overflow: hidden;

        h2 {
            margin-top: 15px;
        }

        .btn {
            padding: 12px 25px;
            font-size: 16px;
        }
        // abs pic
        .circle {
            right: 6%;
            bottom: 7%;
            z-index: 1;
        }

        .circle_orange {
            right: -45%;
            top: 62%;
            width: 220px;
        }

        .stone {
            left: 47%;
            top: -14%;
            width: 300px;
        }

        .dubl_line {
            left: -17%;
            top: 46%;
        }
    }
}
