.sec_your_mentor {
   // padding: 81px 0 0;
    background-color: #fbf3e9;
    min-width: 1270px;
    overflow: hidden;
    .container {
        padding: 81px 0 0;
    }
    @media (min-width: 1200px) {
        .container {
            max-width: 1120px;
        }
    }

    .sec_title {
        margin-bottom: 45px;

        h2 {
            font-weight: 500;
            font-size: 35px;
            line-height: 130%;
            margin-top: 24px;
        }
    }

    .btn-success {
        font-size: 20px;
        padding: 15px;
        width: 100%;
        margin-top: 38px;
        border-radius: 5px;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.07);
        margin-bottom: 149px;
    }

    .img_wrapp {
        position: relative;
        height: 570px;

        img {
            max-width: 523px;
            max-height: 591px;
            position: absolute;
            bottom: 0;
            left: 0;
            filter: drop-shadow(20px 20px 25px rgba(0, 0, 0, 0.3));
        }
    }

    .circle {
        bottom: 54%;
        left: -6%;
    }

    .dubl_line {
        bottom: 12%;
        right: 20%;
        transform: rotate(180deg);
    }

    .dubl_line_vertical {
        top: 31%;
        left: 36%;
        transform: rotate(90deg);
    }
    @media (max-width: 767.98px) {
        padding: 30px 0 0;

        .sec_title {
            margin-bottom: 45px;

            h2 {
                font-size: 24px;
                margin: 5px 0 10px;
            }
        }

        .row {
            flex-direction: column-reverse;
        }

        .img_wrapp {
            height: 360px;

            img {
                max-width: 400px;
            }
        }

        .btn-success {
            border-radius: 2px;
            padding: 10px;
            margin: 25px 0 130px;
            font-size: 18px;
        }

        .circle {
            bottom: 40%;
            left: -6%;
        }

        .dubl_line_vertical {
            top: 68%;
            left: 84%;
        }
    }
}
