.sec_9 {
    padding: 76px 0 84px;
    background: #fbf3e9;

    .sec_title {
        margin-bottom: 26px;
    }

    .card_profile {
        padding: 50px 0 48px;

        i {
            max-width: 285px;
            min-height: 250px;
        }

        p {
            min-height: 42px;
            font-weight: 600;
            max-width: 250px;
        }
    }

    .abs_pic {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 113%;
    }
}
@media (max-width: 767.98px) {
    .sec_9 {
        padding: 30px 0 0;
        overflow: hidden;

        .card_profile {
            padding: 15px;

            i {
                font-size: 14px;
                text-align: left;
                margin-top: 20px;
                min-height: 230px;
            }
        }

        .sec_title {
            margin-bottom: 0;
        }

        .abs_pic {
            left: -225%;
            top: 144%;
            width: 765%;
        }
    }
}
